
.main-content {
  width: 100%;
  height:100%;
  /* background: #72f884; */
  /* 使用flex弹性布局 */
  display: flex;
}
.left-content {
  box-sizing: border-box;
  width: 200px;
  /* height: 100vh; */
  /* background: rgb(238, 119, 34); */
}
.right-content {
  background: #000;
  box-sizing: border-box;
  width: 200px;
  height: 100vh;
  /* background: rgb(68, 133, 255); */
  /* 表示该盒子自动占满剩余空间（往下展开） */
  flex: 1;
}
